<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- 这些注册表项将安装到目标用户的计算机上 -->
    <DirectoryRef Id="TARGETDIR">
      <!-- 组织安装的注册表项 -->
      <!-- 注意这里我们提供的唯一ID -->
      <Component Id="AlgorithmVisualizerRegistryEntries" Guid="*">
        <!-- Tauri 使用标识符的第二部分作为"公司"名称
            (例如 `algorithm` in `com.algorithm.visualizer`)  -->
        <RegistryKey
          Root="HKCU"
          Key="Software\algorithm\visualizer"
          Action="createAndRemoveOnUninstall"
        >
          <!-- 要保存在注册表中的值 -->
          <RegistryValue
            Type="integer"
            Name="InstalledVersion"
            Value="1"
            KeyPath="yes"
          />
          <RegistryValue
            Type="string"
            Name="InstallPath"
            Value="[INSTALLDIR]"
          />
          <RegistryValue
            Type="string"
            Name="LastRunDate"
            Value="[DATE]"
          />
          <RegistryValue
            Type="integer"
            Name="KeepConfig"
            Value="1"
          />
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <!-- 添加桌面快捷方式 -->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="*">
        <Shortcut Id="ApplicationDesktopShortcut"
                 Name="算法可视化器"
                 Description="启动算法可视化器应用程序"
                 Target="[INSTALLDIR][ProductName].exe"
                 WorkingDirectory="INSTALLDIR" />
        <RegistryValue Root="HKCU" Key="Software\algorithm\visualizer"
                      Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- 配置保留选项 -->
    <Property Id="KEEPCONFIGONREMOVE" Value="1" />

    <!-- 将应用程序快捷方式添加到组件组中 -->
    <ComponentGroup Id="AlgorithmVisualizerShortcuts">
      <ComponentRef Id="DesktopShortcut" />
    </ComponentGroup>
  </Fragment>
</Wix>