<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- 定义桌面快捷方式 -->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="*">
        <Shortcut Id="ApplicationDesktopShortcut"
                 Name="算法可视化器"
                 Target="[INSTALLDIR][ProductName].exe"
                 WorkingDirectory="INSTALLDIR" />
        <RegistryValue Root="HKCU" Key="Software\algorithm\visualizer"
                      Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- 定义快捷方式组 -->
    <ComponentGroup Id="ShortcutComponents">
      <ComponentRef Id="DesktopShortcut" />
    </ComponentGroup>
  </Fragment>
</Wix>